:root {
    --md-text: 10, 10, 10;
}

.dark {
    --md-text: 255, 255, 255;
}

.markdown {
    font-size: 0.8em;
}

.markdown > * {
    margin-bottom: 1rem;
}

.markdown p, li {
    color: var(--color-muted-foreground);
}

.markdown > h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.markdown > h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.markdown ul {
    list-style-type: circle;
    list-style-position: inside;
}

.markdown pre{
    width: fit-content;
    background-color: rgba(var(--md-text), 0.05);
    padding: 1rem;
    border-radius: 0.25rem;
    font-family: "Cascadia Mono";
}

.markdown :not(pre)>code {
    background-color: rgba(var(--md-text), 0.05);
    padding: 0.1rem;
    border-radius: 0.1rem;
}