:root {
    --md-text: 10, 10, 10;
}

.dark {
    --md-text: 255, 255, 255;
}

.markdown {
    font-size: 0.8em;
}

.markdown > * {
    margin-bottom: 1rem;
}

.markdown > h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.markdown > h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.markdown > pre {
    width: fit-content;
    background-color: rgba(var(--md-text), 0.05);
    padding: 1rem;
    border-radius: 0.25rem;
}